h1{
  font-family: inherit;
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  color: pink;

  font-style: italic;
  font-weight: 100px;
}

h2{
  font-family:italic;
  font-size: fantasy;
  font-style: 100px;
  font-weight: bolder;
  color:yellow;
  text-align: center;
}

body{
  background-color: blue;
}

}
+-
<div class="cotact-fom">
<h3 class="contact=file">contact us</h3>
<p>email </p>
<input>
<p>message</p>
<textarea></textarea>
<buttontype="button"class="submit"
onclic="alert['your form is submitted']">send</button>
